

.type3{
  background: #1e293b; 
  color: #f8fafc;       
  box-shadow: 0 4px 20px rgba(20, 18, 18, 0.409);
  border: 1px solid white;
  animation: floatY 3s ease-in-out infinite;
  background: linear-gradient(45deg, #7c3aed, #1e40af, #0f172a, #020617);

}

.bg3{
  background-color: rgb(255, 254, 254);
  border-radius: 1rem 1rem 0rem 0rem ;
  color: white;
  background: linear-gradient(45deg, #4f46e5, #0ea5e9, #1e3a8a, #0f172a);

}


@keyframes floatY {
  0% {
    transform: scale3d(0);
  }
  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  100% {
   transform: scale3d(0);
  }
}


